# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# Data & Artifacts
# =========================
#data/
# models/
# *.pkl
# *.h5
# *.keras

# =========================
# Logs & Outputs
# =========================
*.log
logs/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Cache
# =========================
